.mat-mdc-dialog-content{
    white-space:pre;
}

.dialog-message {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

mat-dialog-content {
    overflow-y: auto;
    max-height: 60vh; /* Optional: prevents dialog from becoming too tall */
}
