// Input width
$matFormFieldWidth: 15.5em;
// Selected element backgroud color
$selElemBkgClr: #ac92db;
// Not editable selected element backgroud color
$notEditSelElemBkgClr: #7f6ca1;
// Light text color
$lgtTxtClr: whitesmoke;
// Estilos para permitir que el texto sea oculte más allá del ancho máximo 
@mixin clippedText() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.innerClass {
    width: $matFormFieldWidth !important;
    .selected-element-view {
        margin: 0 10px 0 15px;
        .pseudo-label {
            font-size: 12px;
            color: #673ab7;
            margin: 2px 0 10px 0;
        }
        .selectedElementContainer {
            border-radius: 100px;
            display: flex;
            align-items: center;
            height: 1.6em;
            max-width: 11em;
            .selectedElementDesc {
                border-radius: 100px;
                padding: 3px 10px 2px 9px;
                line-height: 22px;
                max-width: $matFormFieldWidth - 5em;
                @include clippedText;
            }
            .selectedElementDescShort {
                background-color: $notEditSelElemBkgClr;
                padding: 2px 7px 0 7px !important;
                color: $lgtTxtClr;
                font-weight: 600;
                min-width: 8px;
            }
            button {
                transform: scale(0.47);
                margin: 0 -10px 0 0;
                mat-icon {
                    color:$lgtTxtClr;
                }
            }
            button:hover {
                background-color: #7e68a5;
            }
        }
    }
    .search-button {
        transform: scale(0.7);
        margin-left: -8px;
    }
}

.mat-mdc-option {
    font-size: 14px;
}

.clickable {
    background-color: $selElemBkgClr;
}

.clickable:hover {
    cursor: pointer;
}

.unclickable {
    background-color: $notEditSelElemBkgClr;
    color: $lgtTxtClr;
}